[Unit]
Description=MP Service for HE

[Service]
Type=simple
User=kenneth
WorkingDirectory=/IE-ACHE
ExecStart=/usr/bin/python3 /IE-ACHE/Client1/client_dynamic.py

[Install]
WantedBy=multi-user.target
